{% extends 'header.html' %}
{% block title %}
Create Account
{% endblock %}

{% block content %}

    <div class="ui active dimmer" id="loading" hidden>
        <div class="ui large text loader">Loading</div>
    </div>


    <div class="container mt-4">

        <div class="col-lg-5 col-md-8 mx-auto ui segment p-4">

            <h1 class="display-6">Reset Password</h1>
            <hr>
            <div class="ui warning message" id="message" {% if not error %} hidden {% endif %}>
                error

            </div>
            <form class="ui form" id="form"  action="/reset-password-verification" method="POST">
                {% csrf_token %}

                <div class="field">
                    <label>Email</label>
                    <input type="email" required name="email" placeholder="example@gmail.com">
                </div>


                <div class="mt-3">
                    <button class="ui button teal btn-block"  type="submit">Send Verification Code</button>
                </div>
            </form>
        </div>
    </div>

    {% endblock%}